<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="card col-md-10 offset-md-1">
                <div class="card-body">
                    <h1 class="text-center">Add Contact Details</h1>
                    <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                    <form
                      th:object="${contact}"
                      enctype="multipart/form-data"
                      method="post"
                      name="form"
                      class="mt-2"
                    >


                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-plus"></i>
                            </div>
                            </div>
                            <input type="text" id="firstname" name="name" placeholder="Enter the FirstName" class="form-control">
                        </div>
                        <div class="input-group flex-nowrap mt-4">
                            <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-plus"></i>
                            </div>
                            </div>
                            <input type="text" id="email" name="subcode" placeholder="Enter the Subcode" class="form-control">
                        </div>


                    </form>

                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>