<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service2</title>
</head>
<body>
<h1>This is the service provider html class</h1>
<!-- place footer content here !-->
<!--Replace= hosttag replace to frgamenttag !-->
<!--insert= fragment tags add to hosttag !-->
<!--include= fragment tag content add into host tag !-->
<!--<footer id="HostTags" th:replace="footer::footer1('This is a dynamic value')"></footer>
 !-->
<footer id="HostTags" th:replace="footer::footer1(${title})"></footer>

</body>
</html>